body {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	overflow: hidden;
	background: radial-gradient(circle, rgba(1,119,1,1) 10%, rgba(0,160,0,1) 60%);
}

body * {
	outline: none;
}

input {
	font-size: 18px;
	padding: 5px;
	border: 2px solid black;
	z-index: 10;
}

button {
	font-size: 18px;
	border: 2px solid black;
	background-color: white;
	padding: 5px 12px;
}

img {
	height: 150px;
	position: absolute;
	z-index: -1;
}

.cards {
	position: absolute;
	top: 0;
	left: 0;
}

.results {
	color: lime;
	background-color: black;
	width: 500px;
	margin: 0 auto;
}

pre {
	text-align: left;
	padding: 20px;
}
